{% extends "base.html" %}

{% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<link href="/static/slide.css" rel="stylesheet" type="text/css">

<body>
  {% for question in questions %}
  <div style="text-align: center;">
    <h1 id="title">{{question.Title}}</h1>
      
    <center><div class="slidecontainer">
      <input type="range" min="1" max="5" value="3" class="slider" id="myRange" oninput="cat(this)">
      <p><span id="demo"></span></p>
    </div>
  </center>
  <a href="{{next}}">
    <button class="btn btn-primary btn-lg">Click</button>
  </a>
  {% empty %}
  <center>
  <h1>Database empty</h1>

  </center>
  {% endfor %}
</div>
</body>
<script>
  var slider = document.getElementById("myRange");
  var output = document.getElementById("demo");
  output.innerHTML = "Ei samaa eikä eri mieltä (Liikuta slideriä vaihtaaksesi vaihtoehtoa)"
  
  slider.oninput = function() {
    document.cookie = "{{current}}="+this.value;
    if (this.value == 1){
      output.innerHTML = "Samaa mieltä";
      }
    if (this.value == 2){
      output.innerHTML = "Jokseenkin samaa mieltä";
    }
    if (this.value == 3){
      output.innerHTML = "Ei samaa eikä eri mieltä";
    }
    if (this.value == 4){
      output.innerHTML = "Jokseenkin eri mieltä"
    }
    if (this.value == 5){
      output.innerHTML = "Eri mieltä"
    }
  }
  </script>

{% endblock %}